@model List<NhomProject.Models.ViewModel.CategoryStatisticVM>
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="bg-success" style="padding:10px; color:white;">THỐNG KÊ HÀNG HÓA TỪNG LOẠI</h2>
<table class="table table-bordered table-striped">
    <tr class="bg-success" style="color:white;">
        <th>
            LOẠI HÀNG
        </th>
        <th>
            SỐ LƯỢNG
        </th>
        <th>
            GIÁ CAO NHẤT
        </th>
        <th>
            GIÁ THẤP NHẤT
        </th>
        <th>
            GIÁ TRUNG BÌNH
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductCount)</td>
            <td>@item.HighestPrice.ToString("N0") VNĐ</td>
            <td>@item.LowestPrice.ToString("N0") VNĐ</td>
            <td>@item.AveragePrice.ToString("N2") VNĐ</td>
        </tr>
    }
</table>

<hr />


<h2 class="bg-success" style="padding:10px; color:white;">BIỂU ĐỒ THỐNG KÊ</h2>
<div id="piechart_div" style="width: 100%; height: 500px;"></div>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

   
    google.setOnLoadCallback(drawChart);

   
    function drawChart() {

        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Loại hàng');
        data.addColumn('number', 'Số lượng');

        data.addRows([
            @foreach(var item in Model)
            {
                
                <text>['@item.CategoryName', @item.ProductCount],</text>
            }
        ]);

        var options = {
            'title': 'TỶ LỆ HÀNG HÓA',
            'width': '100%',
            'height': '100%',
            'chartArea': {'width': '90%', 'height': '80%'},
            'legend': {'position': 'right'}
        };

        
        var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        chart.draw(data, options);
    }
</script>