@model NhomProject.Models.Order
    
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = ViewBag.Cart as NhomProject.Models.Cart;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container">
    <h2 class="section-title">Checkout</h2>

    <div class="checkout-container">

        <div class="checkout-form">
            <h3>Chi tiết Đơn Hàng</h3>

            
            @using (Html.BeginForm("Checkout", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="CustomerName">Họ Và Tên</label>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", placeholder = "Your Name" })
                </div>

                <div class="form-group">
                    <label for="Phone">Điện Thoại</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Your Phone Number" })
                </div>

                <div class="form-group">
                    <label for="Address">Địa Chỉ</label>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Your Shipping Address" })
                </div>
            
                <div class="form-group">
                    <label>Phương Thức Thanh Toán</label>
                    <div class="payment-options">
                        <label class="payment-option">
                            @Html.RadioButtonFor(m => m.PaymentMethod, "Cash on Delivery", new { id = "payment_cod", @checked = true })
                            COD (Thanh Toán tiền mặt khi nhặn hàng)
                        </label>
                        <label class="payment-option">
                            @Html.RadioButtonFor(m => m.PaymentMethod, "Credit Card", new { id = "payment_card" })
                            Thẻ Ngân Hàng (Tín dụng / Ghi nợ)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn checkout-btn">Đặt Hàng</button>
            }
           
            
        </div>

        <div class="checkout-summary">
            <h3>Xác nhặn Mua Hàng</h3>

            @if (cart != null)
            {
                <ul class="summary-item-list">
                    @foreach (var item in cart.Items)
                    {
                        <li class="summary-item">
                            <span class="summary-item-name">@item.ProductName (x @item.Quantity)</span>
                            <span class="summary-item-price">@((item.Quantity * item.Price).ToString("C"))</span>
                        </li>
                    }
                </ul>

                <div class="summary-total">
                    <strong>Tổng Cộng: </strong>
                    <strong>@cart.GetTotal().ToString("C")</strong>
                </div>
            }
        </div>

    </div>
</div>