@model NhomProject.Models.Product

<style>
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 5px;
        box-sizing: border-box;
        border: 1px solid #d9d0d0;
        border-radius: 10px;
        background-color: whitesmoke;
        resize: none;
    }
</style>

<div class="form-horizontal">

    <div class="form-group">
        <div class="control-label col-md-2">Danh mục</div>
        <div class="col-md-10">
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Tên sản phẩm</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Mô tả</div>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Đơn giá (Mới)</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Giá cũ (Giảm giá)</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.OldPrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Bỏ trống nếu không có giảm giá" } })
            @Html.ValidationMessageFor(model => model.OldPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MainImageUrl, "Hình ảnh chính", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="mb-2">
                <label class="radio-inline mr-3">
                    <input type="radio" name="imgOption" id="optFile" value="file" checked onchange="toggleImageInput()"> Upload từ máy
                </label>
                <label class="radio-inline">
                    <input type="radio" name="imgOption" id="optUrl" value="url" onchange="toggleImageInput()"> Dùng Link Online
                </label>
            </div>

            <div id="fileInputSection">
                <input type="file" name="UploadImage" class="form-control" accept="image/*" />
                <small class="text-muted">Chọn ảnh từ máy tính của bạn.</small>
            </div>

            <div id="urlInputSection" style="display:none;">
                @Html.EditorFor(model => model.MainImageUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "https://example.com/image.jpg", @id = "urlField" } })
                <small class="text-muted">Dán đường dẫn ảnh trực tiếp vào đây.</small>
            </div>

            @Html.ValidationMessageFor(model => model.MainImageUrl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Link ảnh nhỏ (Thumbnail)</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThumbnailUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Link ảnh thumbnail (nếu có)" } })
            @Html.ValidationMessageFor(model => model.ThumbnailUrl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>

</div>